* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom,
      transparent,
      rgb(255, 255, 255)) rgb(214, 219, 220);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom,
        transparent,
        rgb(0, 0, 0)) rgb(0, 0, 0);
  }
}