.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;

  &__title {
    text-align: center;
    color: var(--color-red);
    font-size: 2em;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      background-color: #eeeeee;
      padding: 1em;
      border-radius: 8px;
      border: 1px solid #dddddd;
      
      &__name {
        flex-grow: 1;
        letter-spacing: 1px;
      }
      
      &__price {
        min-width: max-content;
        letter-spacing: 1px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    &__list {
      &__item {
        background-color: #111111;
        border: 1px solid #222222;
      }
    }
  }
}